{% extends 'base.html' %}

{% block title %} {{movie.title}} {% endblock %}

{% block body %}
    <h1>Review for {{movie.title}}</h1>
    <button class="btn btn-outline-dark"><a href="{% url 'review:list' movie.id %}" class="link-primary">See all reviews</a></button>
    <div class="card">
        <div class="card-body">
            {% include 'review/review_div.html' with review=review %}
            {% if user == review.user%}
                <a href="{% url 'review:update' movie.id review.id %}">Update here</a>
            {% endif %}
            {% if user.is_admin or user == review.user %}
                <a href="{% url 'review:delete' movie.id review.id %}">Delete here</a>
            {% endif %}
        </div>
    </div>

{% endblock %}