{% extends 'base.html' %}

{% block title %} {{movie.title}} {% endblock %}

{% block body %}
    <h1>Review for {{movie.title}}</h1>
    <a href="{% url 'review:list' movie.id %}">See all reviews</a>
    <div style="border: 2px solid black;">
                <p>Written by {{review.user}}</p>
                <strong>{{review.title}}</strong>
                <p>{{review.message}}</p>
                <div>
                    <p>Rating out of five: {{review.rating_out_of_five}}</p>
                    <p>Posted on {{review.date_posted}}</p>
                </div>
            </div>
    {% if user == review.user%}
        <a href="{% url 'review:update' movie.id review.id %}">Update here</a>
    {% endif %}
    {% if user.is_admin or user == review.user %}
        <a href="{% url 'review:delete' movie.id review.id %}">Delete here</a>
    {% endif %}
{% endblock %}