{% extends 'base.html' %}
{% block title %} Reviews for {{movie.title}} {% endblock %}
{% block body %}
    <h1>Reviews for {{movie.title}}</h1>
    {% if reviews.exists %}
        <h2>This movie has an average rating of {{movie.average_rating_out_of_five}}</h2>
        {% for review in reviews %}
            <div class="p-3 mb-2 container-fluid bg-light">
            {% include 'review/review_div.html' with review=review %}
            <a href="{% url 'review:detail' movie.id review.id %}">Read more</a>
            </div>
            <br>
        {% endfor %}
    {% include 'base_pagination.html' with page_obj=page_obj %}
    {% endif %}

    {% if user.is_authenticated and first_review %}
            <p>Want to add your own review?
                <a href="{% url 'review:create' movie.id %}">Write one here!</a>
            </p>
    {% elif not user.is_authenticated %}
                <p><a href="{% url 'login' %}?next={{request.path}}">Login</a> to submit a review!</p>
    {% endif %}
{% endblock %}

