{% extends 'base.html' %}
{% block title %} Reviews for {{movie.title}} {% endblock %}
{% block body %}
    <h1>Reviews for {{movie.title}}</h1>
    {% if reviews.exists %}
        <h2>This movie has an average rating of {{movie.average_rating_out_of_five}}</h2>
        {% for review in reviews %}
            <p>
                {{review}}
            </p>
        {% endfor %}
    {% else %}
        <p>There are currently no reviews for this movie! Be the first to write one!</p>
    {% endif %}
{% endblock %}
