{% extends 'base.html' %}
{% block title %} Reviews for {{movie.title}} {% endblock %}
{% block body %}
    <h1>Reviews for {{movie.title}}</h1>
    {% if reviews.exists %}
        <h2>This movie has an average rating of {{movie.average_rating_out_of_five}}</h2>
        {% for review in reviews %}
            <p>
                {{review}}
            </p>
        {% endfor %}
        <p>Want to add your own review?
            <a href="{% url 'review:create_movie_review' movie.id %}">Write one here!</a>
        </p>
    {% else %}
        <p>There are currently no reviews for this movie!
            <a href="{% url 'review:create_movie_review' movie.id %}">Be the first to write one!</a>
        </p>
    {% endif %}
{% endblock %}
