{% extends 'base.html' %}


{% block body %}
    <h2> {% block form_title %} {% endblock %}</h2>
    <form method="post">
        {% csrf_token %}
        {% block form %}
        {% endblock %}
        {% block button %}
        <button class="btn btn-primary" type="submit">{% block button_text %} {% endblock %}</button>
        {% endblock %}
        {% block back_button %}
        <a href="javascript:history.back()"><button class="btn btn-primary" type="button">Go back</button></a>
        {% endblock %}


    </form>
{% endblock %}