<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{movie.title}}}</title>
</head>
<body>
    <h1>{{movie.title}}</h1>
    <p>Description: {{movie.description}}</p>
    <p>Released on: {{movie.date_released}}</p>
    <p>Duration: {{movie.duration}}</p>
    {% if has_reviews %}
        <h2>Average rating out of 5: {{movie.average_rating_out_of_five}}</h2>
        <a href="{% url 'review:movie_reviews' movie.id %}">See all reviews here!</a>
    {% else %}
        <h2>This movie currently has no ratings! Be the first to review it!</h2>
    {% endif %}

</body>
</html>